@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;
}
body{
    margin: 0 10%;
}
.content{
    display: flex;
    align-items: center;
    background-image: url("img/fondo.png");
    background-size: cover;
    width: 100%;
    height: 846px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
h1{
    margin: 0 0 50px 50px;
    font-size: 70px;
    color: white;
}
.info p{
    color: white;
    font-size: 25px;
    margin: 0 0 55px 50px;
}
.content button{
    color: black;
    background-color: rgba(255, 255, 255, 0.781);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px 50px;
    margin: 0 0 50px 50px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 90px;
}
.images img{
    padding: 0;
    margin: 0;
}
.img1{
    margin-right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.img6{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
@media (max-width: 1400px) {
    body{
        margin: 0;
    }
    .images{
        bottom: 80px;
    }
    .images img{
        width: 200px;
    }
}
@media (max-width: 768px) {
    body{
        margin: 0;
        background-color: #84BFBF;
    }
    
    h1{
        font-size: 60px;
    }
    .info p{
        font-size: 22px;
    }
    .content{
        margin: 0;
        padding-top: 40px;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: auto;
    }
    .images{
        position: relative;
        flex-direction: column;
        padding-top: 20px;
        bottom: 0px;
    }
    .images img{
        border-radius: 30px;
        margin: 10px 0;
        box-shadow: 5px 5px 3px 3px #019C99;
    }
}