@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    background-color: rgb(163, 91, 91);
    font-family: "Anton", sans-serif;
    
}
h1{
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 40px;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(120, 39, 211);
    color: rgb(255, 255, 255);

}
.container{
    display: flex;
    font-size: 28px ;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
}
a{
    text-decoration: none;
    color:rgb(251, 251, 251);
    background-color: none;
    
}
a:hover{
    background-color: black;
    font-size: 32px;
    border-radius: 20px;
}
.d1{
    background-color: rgb(164, 101, 153);
    text-align: center;
    border-radius: 20px;
}
.d3{
    background-color: rgb(181, 133, 181);
    border-radius: 2dvb;
    text-align: center;
    margin-left:25px

}
.d2{
    background-color: rgb(190, 115, 189);
    text-align: center;
    border-radius: 20px;
    margin-left:25px
    
}
h1{
    text-align: center;
    margin-left:25px
}