@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.Description{
    margin-right: 60px;
}
.Description p{
    font-size: 25px;
}
h1{
    
    font-size: 70px;
}
.columns{
    display: flex;
}
.info h2{
    font-size: 28px;
    margin: 0 0 10px;

    padding: 0;
}
.info p{
    margin: 0;
}
.info .sub-info{
    display: flex;
    margin: 70px 0;
}
.sub-info img{
    margin: 0 40px 10px;
}
.Description button{
    color: white;
    background-color: rgba(36, 35, 35, 0.938);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px 50px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.imag p{
    color: white;
    position: relative;
    bottom: 75px;
}
@media (min-width:768px){
    #img1 img{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    #img4 img{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}
@media (max-width:768px) {
    .content{
        flex-direction: column;margin: 0;
    }
    .Description{
        text-align: center;
        margin: 0;
    }
    .Description h1{
        font-size: 60px;
    }
    .columns{
        flex-direction: column;
        margin: 0;
    }
    .images{
        flex-direction: column;
    }
}