@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin-left:10px;
    margin-top:15px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.container1{
    font-size:20px;
    display: flex;
    justify-content: center;
    gap:30px;
}
.buttonH{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: solid rgb(24, 23, 23);
    color: white;
    background-color: rgb(24, 23, 23);
    font-size: 17px;
}
.text{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-top: 100px;
}
.i4{
    margin-top: 100px;
    width: 355px;
    height: 405px;
}
.i5{
    width: 365px;
    height: 410px;
}
.i{
    width: 380px;
    height: 340px;
}
.container2{
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap:30px;
}
h3{
    color: rgb(118, 120, 121);
    font-size: 25px;
}
@media(max-width:700px){
    .container1{
        display: flex;
        flex-direction:column;
    }
    .container2{
        display: flex;
        flex-direction:column;
    }
    .text{
        margin-top: 0;
        text-align: center;
    }
    .buttonH{
        margin-left: 32%;
    }
    .i4{
        margin-top: 0px;
        width: 370px;
        height: 415px;
    }
    .i5{
        width: 370px;
        height: 415px;
    }
    .i{
        width: 370px;
        height: 415px;
    }
}