@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}
body{
    padding: 40px;
    background-color: white;
}
.container{
    display: flex;
    justify-content: center;
}
.fondo1{
    position: absolute;
    z-index: -1;
    
}
h1{
    background-color: transparent;
    font-size: 60px;
    margin-left: 80px;
    margin-bottom: 30px;
}
.info{
    margin-right: 170px;

}
.info p{
    background-color: transparent;
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 80px;
}
.sub-info{
    background-color: transparent;
    position: relative;
    bottom: 170px;
}
.info button{
    color:white;
    background-color: rgba(0, 0, 0, 0.863);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px 40px;
    box-shadow: 8px 8px 0 0 black;
    margin-left: 80px;
}
.circle2{
    background-color: transparent;
    position: relative;
    z-index: 5;
    bottom: 90px;
    left: 125px;
}
.fondo2{
    position: relative;
    left: 50px;
}
.plant{
    background-color: transparent;
    position: relative;
    z-index: 5;
    right: 380px;
}
.circle1{
    background-color: transparent;
    width: 170px;
    position: relative;
    bottom: 630px;
    left: 550px;
}
.barra{
    position: relative;
    border: solid 2px black;
    display: flex;
    padding: 20px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    bottom: 179px;
}
.barra p{
    font-size: 22px;
}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}
.bar p{
    margin-left: 40px;
}
