
.content{
    background-color: #EFC356;
    height: 900px;
    display: flex;
    justify-content: space-around;
}
.content button{
    color: black;
    background-color: #7EB5E1;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px 50px;
    margin: 0 0 50px 50px;
}
h1{
    font-size: 85px;
    color: white;
}
.images{
    display: flex;
}
.text p{
    font-size: 33px;
    color: white;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collage{
    position: absolute;
    top: 130px;
    left: 800px;
}
.perrito{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 110px;
}
.perro{
    z-index:5;
}
.info img{
    position: absolute;
    left: 230px;
    bottom: 120px;
}
.sombra{
    position: relative;
    bottom: 180px;
    right: 75px;
}
.img{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.patica{
    position: absolute;
    left: 300px;
}
.asterisk{
    position: absolute;
    top: 570px;
    left: 400px;
}