@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgba(200, 204, 207, 1);
    font-family: "Poppins", sans-serif;
    color: #363830;
}
.il{
    text-align: left;
    margin-left: 200px;
}
.ir{
    text-align: right;
    margin-right: 200px;
    
}
.topS{
    font-size: 35px;
}
p{
    font-size: 30px;
}
.title{
    position: absolute;
    width: 780px;
    bottom: 500px ;
    left: 400px;
}
.buttonH{
    width: 150px;
    height: 60px;
    border-radius: 30px;
    border: solid #363830;
    color: white;
    background-color: #363830;
    font-size: 25px;
}
.list{
    display: flex;
    width: 1100px;
    font-size: 20px;
}
hr{
    width: 60px;
    margin-left: 0;
}