@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgba(200, 204, 207, 1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    color: #363830;
}
.il{
    text-align: left;
    margin-left: 200px;
}
.ir{
    text-align: right;
    margin-right: 200px;
    
}
.topS{
    font-size: 33px;
}
p{
    font-size: 28px;
}
.title{
    position: absolute;
    width: 780px;
    bottom: 550px ;
    left: 400px;
}
.buttonH{
    width: 150px;
    height: 60px;
    border-radius: 30px;
    border: solid #363830;
    color: white;
    background-color: #363830;
    font-size: 25px;
}
.list{
    position: absolute;
    display: flex;
    width: 830px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 50px;
    gap:90px;
    bottom:10px;
    left:630px
}

.pp{
    font-size: 18px;
}
hr{
    width: 38px;
    margin-left: 0;
    border-color: black;
    border:solid 1.9px
}

@media(max-width:700px){
    .i{
        width:375px;
    }
    .list{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 300px;
        border-radius: 20px;
        padding: 9px;
        gap:0px;
        bottom:0px;
        top:10px;
        left:30px;
        text-align:center}
    hr{
        margin-left: 44%;
    }
    .il{
        margin-left: 0;
    }
    .botS{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title{
        left: 15px;
        top:0;
        text-align: right;
        font-size: 10px;
        width: 350px;
        top:35px
    }
    p{
        font-size: 18px;
    }
    .n{
        font-size: 25px;
    }
    h1{
        font-size: 40px;
        text-align: center;
    }
    .buttonH{
        width: 110px;
        font-size: 22px;
        height: 32px;
    }
    #florero{
        position: absolute;
        height: 647px;
    }
}